body { padding-top: 0px; }

table { margin: 15px 0; }

#tableUsers, td, th { padding: 3px; }

.statusEnabled { background: #3071A9; color: white; border-radius: 3px; padding:2px; }
.statusDisabled { background: #CE1010; color: white; border-radius: 3px; padding:2px; }

.well { background: #FFF; }

.toolbar { margin-bottom: 8px; }

.message { margin: 10px 0; }

.notifications{
	background: #FF003F;
}

.measures { display: none; }

#box {
	display:none
}

.NewProducto { 
	margin-top: -8px; 
}

