body { padding-top: 0px; }

table { margin: 15px 0; }

#tableUsers, td, th { padding: 3px; }

#box { display:none }

.statusEnabled { background: #3071A9; color: white; border-radius: 3px; padding:2px; }

.statusDisabled { background: #CE1010; color: white; border-radius: 3px; padding:2px; }

.well { background: #FFF; }

.toolbar { margin-bottom: 8px; }

.message { margin: 10px 0; }

.notifications{ background: #FF003F; }

.measures { display: none; }

.imgFarm{
	max-width: 1500px;
    width: 100%;
    position: absolute;
	height: 600px;
	vertical-align: middle;border: 0 none;
}
#cont{padding-left: 0px;}
